In [9]:
import pandas as pd
df_raw = pd.read_csv(
                    r'C:\Users\lucia\Dropbox\Aktuální\DATOVÝ ANALYTIK\CODERS LAB kurz\03 PYTHON\03 TŘETÍ VÍKEND\Session_3_-_exercise_files\01_Data\product_prices.csv', # path to the file with data (if we want to enter the name: filepath_or_buffer)
                    sep=';',  # column separator
                    decimal=',')  # sign separating the whole and fractional parts of a number
                    
df_raw.head() # display the first few rows and check if the data actually got loaded (the function itself will be discussed later)

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [11]:
df_raw.columns

Index(['Name', 'Goods types', 'Measurement unit', 'Group ID', 'Product types',
       'Value', 'Date'],
      dtype='object')

In [ ]:
# Using the columns method modify the names of columns to be: 
# 'province', 'product_types', 'currency', 'group_id', 'product_line', 'value', 'date'

In [13]:
df_raw.columns='province', 'product_types', 'currency', 'group_id', 'product_line', 'value', 'date'

In [14]:
df_raw.columns # zobrazím si názvy sloupců

Index(['province', 'product_types', 'currency', 'group_id', 'product_line',
       'value', 'date'],
      dtype='object')

In [15]:
df_raw.head() #zobrazím si hlavičku

,province,product_types,currency,group_id,product_line,value,date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [ ]:
# Determine the following positional statistics: mean, standard deviation, percentiles: 0, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100%.

# Do the exercise in two versions: using dedicated functions and describe.

In [18]:
# Výpočet průměru
mean = df_raw['value'].mean()
print(f"Průměrná hodnota je: str{mean}")

TypeError: can only concatenate str (not "int") to str

In [19]:
print(df_raw['value'].dtype) #zkontroluji, jaké mám ve sloupci "value" datové typy

object

In [20]:
df_raw['value'] = pd.to_numeric(df_raw['value'], errors='coerce')

In [28]:
# Výpočet průměru - znova s převedenými datovými typy na "numeric"
mean = df_raw['value'].mean()
print(f"Průměrná hodnota je: {mean:.2f}")

Průměrná hodnota je: 6.62

In [29]:
std_dev = df_raw['value'].std()
print(f"Směrodatná odchylka je: {std_dev:.2f}")

Směrodatná odchylka je: 34.11

In [30]:
percentiles = df_raw['value'].quantile([
    0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0
])
print(percentiles)
#Kvantil je matematický zápis (0.0–1.0),
#Percentil je praktický zápis (0–100).
#Jinak je to to samé — pozice hodnoty v rozložení dat.

0.0       0.00
0.1       0.00
0.2       0.00
0.3       0.28
0.4       1.55
0.5       3.09
0.6       5.75
0.7       9.16
0.8      12.73
0.9      17.19
1.0    3000.00
Name: value, dtype: float64

In [33]:
stats = df_raw['value'].describe(percentiles=[
    0.1, 0.2, 0.3, 0.4, 0.6, 0.7, 0.8, 0.9
])

# Výpis
print(stats.round(2))

count    137088.00
mean          6.62
std          34.11
min           0.00
10%           0.00
20%           0.00
30%           0.28
40%           1.55
50%           3.09
60%           5.75
70%           9.16
80%          12.73
90%          17.19
max        3000.00
Name: value, dtype: float64